<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Extend" publicKeyToken="869d4c589c0473ac" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.95" newVersion="1.2.0.95" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>