<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="GitHub" value="https://nuget.pkg.github.com/NordPool/index.json" />
    </packageSources>

    <packageSourceCredentials>
        <GitHub>
            <add key="Username" value="your_github_username" />
            <add key="ClearTextPassword" value="your_github_access_token" />
        </GitHub>
    </packageSourceCredentials>
</configuration>
