<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="LocalRepository" value="C:\dev\LocalNuGetRepo" />
        <add key="MyCustomFeed" value="https://nuget.pkg.github.com/NordPool/public-intraday-api/index.json" />
        <add key="NuGet.org" value="https://api.nuget.org/v3/index.json" />
    </packageSources>

    <!-- Optional: Credentials for private repositories -->
    <packageSourceCredentials>
        <MyCustomFeed>
            <add key="Username" value="YourUsername" />
            <add key="ClearTextPassword" value="YourToken" />
        </MyCustomFeed>
    </packageSourceCredentials>
</configuration>