<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--SSO User Settings - please add your user and password here.-->
    <add key="sso-user" value=""/>
    <add key="sso-password" value=""/>

    <!--SSO URL-->
    <add key="sso-protocol" value="https"/>
    <add key="sso-host" value="sso.test.nordpoolgroup.com"/>
    <add key="sso-tokenUri" value="/connect/token"/>

    <!-- Static settings - for intraday service -->
    <add key="sso-clientId" value="client_intraday_api"/>
    <add key="sso-clientSecret" value="1xB9Ik1xsEu2nbwVa1BR"/>
    <add key="sso-scope" value="intraday_api"/>

    <!--Web socket settings-->
    <add key="ws-useSsl" value="true"/>
    <add key="ws-host" value="intraday2-ws.test.nordpoolgroup.com"/>
    <add key="ws-port" value="443"/>
    <add key="ws-uri" value="/user"/>

    <!--REST Api Settings-->
    <add key="rest-host" value="intraday2-api.test.nordpoolgroup.com"/>
    <add key="rest-protocol" value="https"/>
    
    <!--Api version-->
    <add key="api-version" value="v1"/>
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NodaTime" publicKeyToken="4226afe0d9b296d1" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NJsonSchema" publicKeyToken="c2f9c3bdfae56102" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.6.3.0" newVersion="9.6.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Extend" publicKeyToken="869d4c589c0473ac" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.95" newVersion="1.2.0.95"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
