<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--SSO User Settings - please add your user and password here.-->
    <add key="sso-user" value="" />
    <add key="sso-password" value="" />
    <!--SSO Common settings-->
    <add key="sso-protocol" value="" />
    <add key="sso-host" value="" />
    <add key="sso-clientId" value="" />
    <add key="sso-clientSecret" value="" />
    <add key="sso-tokenUri" value="" />
    <!--Web socket settings-->
    <add key="ws-protocol" value="" />
    <add key="ws-host" value="" />
    <add key="ws-port" value="" />
    <add key="ws-uri" value="" />
    <!--Api version-->
    <add key="api-version" value="v1" />
  </appSettings>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NodaTime" publicKeyToken="4226afe0d9b296d1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
