<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
	<!--SSO User Settings - please add your user and password here.-->
    <add key="sso-user" value="" />
    <add key="sso-password" value="" />

    <!--SSO URL-->
    <add key="sso-protocol" value="https" />
    <add key="sso-host" value="sts.nordpoolgroupppe.com" />
    <add key="sso-tokenUri" value="/connect/token" />

    <!-- Static settings - for intraday service -->
    <add key="sso-clientId" value="client_intraday_api" />
    <add key="sso-clientSecret" value="1xB9Ik1xsEu2nbwVa1BR" />
    <add key="sso-scope" value="intraday_api" />

    <!--Web socket settings-->
    <add key="ws-protocol" value="ws" />
    <add key="ws-host" value="intraday2-ws.test.nordpoolgroup.com" />
    <add key="ws-port" value="8083" />
    <add key="ws-uri" value="/user" />
    
    <!--Api version-->
    <add key="api-version" value="v1"/>
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  
</configuration>